@import url(../article/article.css);

.current-page-title{
	background-color: #F5F5F5;
	padding: 1rem;
	width: 100%;
}
.current-page-title span{
	color: #e02e3d;
	font-style: oblique;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	max-width: 900px;
	align-self: center;
}
.flex-item{
	flex-basis: 100%;
	background-color: white;
	margin-bottom: 1rem;
	align-items: center;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	border-top: 2px solid #e02e3d;
	
}
