@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,400;1,600;1,700;1,900&family=Ropa+Sans:ital@1&display=swap');

@import url(./components/navbar/navbar.css);
@import url(./components/page/page.css);
@import url(./components/footer/footer.css);



*{
	margin: 0;
	padding: 0;
}

#root {
   display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ebebeb;
	color: #1b1b1b;


   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html{
	scroll-behavior: smooth;
}

li{
	list-style: none;
}

.main-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
body {
   margin: 0;
   min-width: 320px;
   min-height: 100vh;
   width: 100%;
	margin: 0 auto;
	font-family: Poppins;
	
}
.content{
	max-width: 1280px;
	margin: 0 auto;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



@media (min-width: 520px) {
	html{
		font-size: 16px;
	}
	
}

@media (min-width: 723px) {
	
}
@media (min-width: 933px) {
	html{
		font-size: 18px;
	}
}
@media (min-width: 1127px) {
	html{
		font-size: 20px;
	}
}
